// Spotify color palette
$color-spotify-green: #1db954;
$color-spotify-light-green: #1ed760;
$color-spotify-dark-green: #116e32;
$color-spotify-black: #191414;
$color-spotify-light-black: #212121;
$color-spotify-dark-grey: #535353;
$color-spotify-light-grey: #b3b3b3;

$color-white: #FFFFFF;
$color-error-red: #c40303;