.grid-container {
  padding: var(--container-padding);
  display: grid;
  height: calc(100vh - var(--header-height));

  grid-template-rows: 10% 85%;
  row-gap: 5%;
  grid-template-areas:
    'search'
    'results';
  overflow: hidden;
}

.search__results {
  --search-results-grid-column-scheme: 1;
  --search-results-grid-row-scheme: repeat(3, 1fr);
  --column-gap: normal;
  --row-gap: 100px;

  grid-area: results;
  display: grid;
  grid-template-rows: var(--search-results-grid-row-scheme);
  column-gap: var(--column-gap);
  row-gap: var(--row-gap);
  overflow-y: auto;
  grid-template-columns: var(--search-results-grid-column-scheme);

  @media only screen and (min-width: map-get($breakpoints, 'lg')) {
    --search-results-grid-column-scheme: repeat(auto-fit, minmax(100px, 30%));
    --search-results-grid-row-scheme: 1fr;
    --column-gap: 3%;
    --row-gap: normal;
  }

  /* width */
  &::-webkit-scrollbar {
    width: 10px;
  }

  /* Track */
  &::-webkit-scrollbar-track {
    background: $color-spotify-black;
  }

  /* Handle */
  &::-webkit-scrollbar-thumb {
    background: $color-spotify-dark-grey;
  }

  /* Handle on hover */
  &::-webkit-scrollbar-thumb:hover {
    background: $color-spotify-light-grey;
  }
}